<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/myPage_layout}">
<head>
    <meta charset = "UTF-8">
    <title>문의 답변 등록</title>
    	
	<style>
			
    </style>
    
    <script type="text/javascript">
    	
    	$(function () {
	
			$('#inquiryReplyContent').on('keyup', function () {
				$('#inquiryReplyContent_cnt').html("(" + $(this).val().length + " / 300)");

				if ($(this).val().length > 300) {
					$(this).val($(this).val().substring(0, 300));
					$('#inquiryReplyContent_cnt').html("(300 / 300)");
				}
			});

		});
		
    </script>
</head>
<body>

	<article layout:fragment="content">
	
		<!-- Content page -->	
			<div class="container">
						
				<div class="p-b-80 p-t-20">
					
				<div class="flex-w flex-tr">
				
					<!-- 문의 정보 -->
					<div class="size-209 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						<div class="flex-w w-full p-b-42">
				
							<div class="size-212 p-t-2">
				
								<img th:src="|../img/upload/${ inquiry.inquiryProduct.productMainImage }|" alt="IMG-PRODUCT"
									width="30%" />
				
								<span class="mtext-114 cl2" th:text="${inquiry.inquiryProduct.productName}"></span>
				
							</div>
				
						</div>
				
						<div class="flex-w w-full p-b-42">
				
							<div class="size-212 p-t-2">
				
								<p class="stext-115 cl7 size-213 p-t-18" th:text="${inquiry.inquiryTitle}">
								</p>
				
								<p class="stext-115 cl7 size-213 p-t-18" th:text="${inquiry.inquiryContent}">
								</p>
				
							</div>
				
						</div>
				
						<div class="flex-w w-full p-b-42">
				
							<div class="size-212 p-t-2">
								<span class="mtext-114 cl2" th:text="|${#strings.substring(inquiry.userId, 0, 3)}****|"></span>
							</div>
				
						</div>
				
					</div>
					<!-- =================== -->
				
				
					<!-- 문의 작성 form -->
					<div class="size-208 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
						<form th:action="@{/inquiry/updateInquiry}" method="post" name="addInquiryReplyForm" id="addInquiryReplyForm">
				
							<input type="hidden" th:field="${inquiry.inquiryNumber}" />
							<input type="hidden" th:field="${inquiry.secret}" />
							<input type="hidden" name="inquiryReplyStatus" value="true" />
							<input type="hidden" th:field="${inquiry.storeId}" />
				
							<h4 class="mtext-105 cl2 txt-center p-b-30">
								문의 답변 등록
							</h4>
				
							<div class="bor8 m-b-30">
								<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" id="inquiryReplyContent"
									name="inquiryReplyContent" placeholder="문의 답변 내용"></textarea>
							</div>
							<div id="inquiryReplyContent_cnt">(0 / 300)</div>
				
							<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
								등록
							</button>
				
						</form>
					</div>
					<!-- ====================== -->
				</div>
			</div>	
		</div>		
	</article>
</body>
</html>