<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				layout:decorate = "~{layout/customer_layout}"
      			xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>	
	
	<th:block layout:fragment="title">
	<link th:href="@{/css/customer.css}" rel="stylesheet" />
		<title>faitmain</title>
	</th:block>
	
	<style>
		
		.btn_wrap a{
			margin-right: 10px;
			color: black !important;
		}
		
		.btn_wrap a:hover{
			color: white !important;
		}
	
	</style>
</head>
<body>
<div id = 'wrapper'>
	
	<th:block layout:fragment="content">
	<div class="container">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/customer/addBoard}" method="post" > <!-- onsubmit="return registerBoard(this)" -->
				<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
				<!-- <input type="hidden" th:if="*{boardNumber = null and boardNumber != 0}" th:field="*{boardNumber}" /> -->
 
				<!-- <div class="form-group">
					<label for="highlightNoticeYn" class="col-sm-2 control-label">강조 설정</label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{highlightNoticeYn}" id="highlightNoticeYn" name="highlightNoticeYn" th:checked="*{#strings.equals( highlightNoticeYn, 'Y' )}" />
					</div>
				</div> -->
				
				<input type="hidden" name="boardType" value='N'/> 
				<h4 class="p-t-20 p-b-30 mtext-112 cl2">공지사항 등록</h4>
				 
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="boardTitle" placeholder="제목을 입력해 주세요." />
						
						<div id='result'></div>
					</div>
				</div>

				<div class="form-group">
					<label for="writer" class="col-sm-2 control-label">아이디</label>
					<div class="col-sm-10">
						<input type="text"  class="form-control" name="customerId.id" th:value="${#authentication.principal.user.id}" readonly />
					</div>
				</div>

				<div class="form-group">
					<label for="content" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="boardContent" placeholder="내용을 입력해 주세요." style="height : 300px;"></textarea>
					</div>
				</div>

				<div class="btn_wrap flex-c-m flex-w w-full p-t-38">
					<a th:href="@{/customer/listBoard?boardType=N}" class="btn flex-c-m stext-101 size-105 bg0 bor17 hov-btn1 p-lr-10 trans-04 m-b-10">뒤로가기</a>
					<button type="submit" class="btn flex-c-m stext-101 size-105 bg0 bor17 hov-btn1 p-lr-10 trans-04 m-b-10">저장하기</button>
				</div>
			</form>
		</div>
		<!-- /.card-content -->
	</div>
	</th:block>
		</div>
</body>
	
</html>