<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
	<!-- Header -->
	<header th:fragment="headerMypage" class="header-v3">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
	
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
	
					<!-- Logo desktop -->
					<a th:href="@{/}" class="logo"
						style="font-family: 'Jeju Gothic'; font-weight: bold; color: white; font-size: 1.50em;">
						Fait-Main
					</a>
	
					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
	
							<li class="active-menu">
								<a th:href="@{/product/getProductList(resultJsp='listProduct')}">전체 카테고리</a>
								<ul class="sub-menu">
									<li><a th:href="@{/product/getProductList(resultJsp=listProduct,searchCategory='01')}">식품</a></li>
									<li><a th:href="@{/product/getProductList(resultJsp=listProduct,searchCategory='02')}">생활</a></li>
									<li><a th:href="@{/product/getProductList(resultJsp=listProduct,searchCategory='03')}">뷰티</a></li>
									<li><a th:href="@{/product/getProductList(resultJsp=listProduct,searchCategory='04')}">패션</a></li>
									<li><a th:href="@{/product/getProductList(resultJsp=listProduct,searchCategory='d05')}">인테리어</a></li>
								</ul>
							</li>
	
							<li class="label1" data-label1="hot">
								<a th:href="@{/live/getLiveReservationCal}">프리미엄 라이브 예약 확인</a>
							</li>
	
						</ul>
					</div>
	
					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m h-full">
						<div class="flex-c-m h-full p-lr-19">
	
							<ul class="main-menu">
	
								<li>
									<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
								</li>
	
								<li>
									<a sec:authorize="isAuthenticated()"
										th:href="@{/cart/{buyerId}(buyerId=${#authentication.principal.user.id})}">장바구니</a>
								</li>
	
								<li>
									<a sec:authorize="isAuthenticated" th:href="@{/myPage}">마이페이지</a>
								</li>
	
								<li>
									<a th:href="@{/customer/listBoard?boardType=N}">고객센터</a>
								</li>
	
							</ul>
						</div>
					</div>
	
				</nav>
			</div>
		</div>
	
	</header>
</html>