<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<!-- SideBar -->
	<th:block th:fragment="sidebar">
		
		<div class="side-menu">
			<!-- 일반 User -->
			<div class="p-t-20" sec:authorize = "hasRole('user')">
			
				<h4 class="mtext-103 cl2 p-b-33" style="font-weight: bold;">
					나의 쇼핑활동
				</h4>

				<ul class="list-group list-group-flush">
											
					<li>
						<a th:href = "@{/user/getUser?id=}+${#authentication.principal.user.id}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							상세 정보 보기
						</a>
					</li>

					<li>
						<a th:href = "@{/order/myList/{buyerId}(buyerId=${#authentication.principal.user.id})}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							주문 내역 조회
						</a>
					</li>

					<li>
						<a th:href = "@{/inquiry/getInquiryList(resultJsp=listInquiryUser,searchCondition=userId,searchKeyword=${#authentication.principal.user.id})}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							상품 문의
						</a>
					</li>

					<li>
						<a th:href = "@{/review/getReviewList(searchCondition=userId,searchKeyword=${#authentication.principal.user.id})}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							나의 리뷰
						</a>
					</li>

					<li>
						<a th:href = "@{/live/getUserAlarmList}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							라이브 알림 설정 목록
						</a>
					</li>					
					
				</ul>
				
			</div>
			
			<!-- 스토어 -->
			<div class="p-t-20" sec:authorize="hasAnyRole('store', 'storeX')">
			
				<h4 class="mtext-103 cl2 p-b-33" style="font-weight: bold;">
					나의 스토어
				</h4>

				<ul sec:authorize="hasRole('store')" class="list-group list-group-flush">
				
					<li>
						<a th:href="@{/user/getUser}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							스토어 정보
						</a>
					</li>
											
					<li>
						<a th:href="@{/product/addProduct}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							상품 등록
						</a>
					</li>

					<li>
						<a th:href="@{/product/getProductList(resultJsp=listProductStore)}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							등록 상품 목록
						</a>
					</li>

					<li>
						<a th:href="@{/inquiry/getInquiryList(resultJsp=listInquiryStore, searchCondition=storeId, searchKeyword=${#authentication.principal.user.id})}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							문의 내역
						</a>
					</li>

					<li>
						<a th:href="@{/live/getStoreAlarmList}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							알림 설정 유저 목록
						</a>
					</li>
					
				</ul>
				
				<ul sec:authorize = "hasRole('storeX')" class="list-group list-group-flush">
				
					<li>
						<a th:href="@{/user/getUser}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							스토어 정보
						</a>
					</li>
				</ul>
				
			</div>
			
			<!-- 관리자 -->
			<div class="p-t-20" sec:authorize = "hasRole('admin')">
										
				<ul class="list-group list-group-flush">
				
					<li>
						<a th:href = "@{/user/getUserlist}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							회원 목록 조회
						</a>
					</li>
											
					<li>
						<a th:href = "@{/product/getProductList(resultJsp=listProductAdmin)}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							전체 상품 조회
						</a>
					</li>

					<li>
						<a th:href = "@{/order/list}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							주문내역
						</a>
					</li>

					<li>
						<a th:href = '@{/user/getStoreApplicationDocumentList(keyword=ALL)}' class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							스토어 신청서 조회
						</a>
					</li>

					<li>
						<a th:href = "@{/customer/addNotice}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							공지사항 등록
						</a>
					</li>
					
					<li>
						<a th:href = "@{/customer/listBoard?boardType=L}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							라이브가이드
						</a>
					</li>
					
					<li>
						<a th:href = "@{/customer/addFAQ}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
							자주묻는질문 등록
						</a>
					</li>
					
				</ul>				
				
			</div>
			
		</div>
		
	</th:block>
	
</html>