<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{/layout/default_layout}">

<head>


	<meta charset="UTF-8">
	<title>faitmain login</title>

	<!-- 카카오  API -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

	<!--   <link href="/css/login.css" rel="stylesheet" /> -->
	<script src="https://kit.fontawesome.com/10b89606ac.js" crossorigin="anonymous"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


	<script type="text/javascript">
		$(function () {
			
			$("#findPassword").on("click", function () {



				if ($("#id").val() == null) {
					alert("  아이디를 입력해주세요")

					$("input:text[name='id']").focus();
					return;
				}


				if ($(".successPhoneChk").text() != '인증번호가 일치합니다.!!1') {

				//	alert("휴대폰인증후 가능합니다. ");
				
						Swal.fire({
								title: '휴대폰 번호 인증 후 가능합니다',
								text: '휴대폰 번호를 인증해주세요',
								icon: 'info',
							});


					return;
				}


				var id = $("#id").val();
				console.log(id);


				console.log("findPassword 버튼 눌림 ");

				var formData = $("#form").serialize();
				//  alert(formData) ;
				$.ajax({
					url: "/user/json/findPassword",
					type: 'POST',
					data: formData,
					dataType: "text",
					success: function (data) { //컨트롤러에서 넘어온 cnt값을 받는다
						if (data == ("입력하신 정보와 유효한 회원정보가가 존재하지 않습니다.")) {

 

							Swal.fire({
								title: '입력하신 정보 확인 부탁드립니다.',
								text: '입력하신 정보와 유효한 회원정보가가 존재하지 않습니다. ',
								icon: 'info',
							});


 						} else {


							
							location.href = "/user/updatePassword?id=" + id;

							/*
							popWin  = window.open("/user/updatePassword?id="+id,
													   "popWin", 
													   "top=200,left=200,width=780,height=650,marginwidth=0,marginheight=0,"+
													   "scrollbars=no,scrolling=no,menubar=no,resizable=no");
						    
							*/


						}

					} // success 괄호


				}) //ajax 괄호


			});

		});


		$(function () {

			var code2 = "";

			$("#phoneChk").on("click", function () {


				console.log("phoneChe 옴 ");
				var phone = $("#phone").val();



				$.ajax({
					type: "GET", url: "uphoneCheck?phone=" + phone,
					success: function (data) {
						if (data == "error") {
							Swal.fire({
								title: '휴대폰 번호가 올바르지 않습니다다.',
								text: '휴대폰 번호가 올바르지 않습니다 ',
								icon: 'info',
							});

						//	alert("휴대폰 번호가 올바르지 않습니다.")
							$(".successPhoneChk").text("유효한 번호를 입력해주세요.");

							$(".successPhoneChk").css("color", "red");

							$("#phone").attr("autofocus", true);


						} else {


							$("#phone2").attr("disabled", false);
							$("#phoneChk2").css("display", "inline-block");
							$(".successPhoneChk").text("인증번호를 입력한 뒤 본인인증을 눌러주십시오.");
							$(".successPhoneChk").css("color", "green");
							$("#phone").attr("readonly", true);
							console.log("이거뭐야 data " + data)
							code2 = data;

							Swal.fire({
								title: '인증번호가 발송 되었습니다.',
								text: '인증번호를  입력해주세요 ',
								icon: 'success',
							});


							
						}
					}
				}); //ajax 칭
				
				



			})


		})


		$(function () {


			$("#phoneChk2").on("click", function () {

				var phone = $("#phone").val()
				var phone2 = $("#phone2").val()
				console.log("phone :" + phone)
				console.log("phone2 :" + phone2)
				console.log("체크체크까ㅣㅈ 옴 ")

				$.ajax({
					type: "GET",
					url: "/user/smsCertificationRequest?phone=" + phone + "&phone2=" + phone2,


					success: function (data) {
						if (data == "error") {
							alert("유효하지 않습니다. .")

						} else if (data == "F") {
							console.log("   data " + data)
							$(".successPhoneChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
							$("#phoneDoubleChk").val("false");
							$(this).attr("autofocus", true);



						} else if (data = "T") {
							console.log("   data " + data)
							$(".successPhoneChk").text("인증번호가 일치합니다.!!1");
							$(".successPhoneChk").css("color", "green");
							$("#phoneDoubleChk").val("true");
							$("#phone2").attr("disabled", true);




						}


					}  // suceess
				});


			});


		})


	</script>


	<style>
		.wrapper {
			display: grid;
			place-items: center;
		}
		
		span{
			font-size: 0.9em;
		}
	</style>

	<!-- 길이는 스타일 건들이 -->
</head>

<body>

<article layout:fragment="content">

	<section class="sec-product-detail bg0 p-t-25 p-b-60">
	
		<div class="container">
		
			<div class="m-t-50 p-t-43 p-b-40" style="margin: 0 auto; width: 70%;">
			
				<h2 class="mtext-109 cl2 txt-center" style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #333;">비밀번호 찾기</h2>
			
				<form id="form" onsubmit="return false" style="padding-top: 20px;">
						
					<div class="form-group row p-b-25">
						<div class="col-12 p-b-5">
							<label class="stext-102 cl3" for="id">아이디</label>
							<input class="size-111 bor8 stext-102 cl2 p-lr-20" id="id" name="id" placeholder="id를 입력하세요 ">
						</div>
					</div>					
					
					<div class="form-group row p-b-25">
						<!--<label for="name" class="control-label">휴대폰번호</label> 
							<h5 class="fw-bolder"> 인증번호 </h5>-->
							
						<div class="col-9 p-b-5">
							<label class="stext-102 cl3" for="phone">휴대전화 인증</label>
							<input class="size-111 bor8 stext-102 cl2 p-lr-20"id="phone" name="phoneNumber"
									placeholder="휴대전화번호 입력 01012345678" type="type" />
						</div>
						
						<div class="col-3 p-b-5">
							<label class="stext-102 cl3" for="address">&nbsp;</label>
							<span class="stext-102 size-111 bg8 bor8 hov-btn1 p-lr-20 trans-04 pointer flex-c-m" id="phoneChk">
								인증번호
							</span>
						</div>
						
						<div class="col-9 p-b-5">
							<input class="size-111 bor8 stext-102 cl2 p-lr-20" disabled id="phone2" name="CertificationNumber"
									placeholder="인증번호 입력" required type="text" />
									
							<span class="point successPhoneChk">휴대폰 번호 입력후 인증번호 보내기를 해주십시오.</span>		
						</div>
						
						<div class="col-3 p-b-5">
							<span class="size-111 bg8 bor8 hov-btn1 p-lr-20 trans-04 pointer flex-c-m" disabled id="phoneChk2" name="CertificationNumber"
									placeholder="인증번호 입력" required>
								본인인증
							</span>							
						</div>
				
						<input id="phoneDoubleChk" type="hidden" /> </p>
					</div>
					
					<div class="flex-c-m flex-w w-full p-t-15">
					
						<span class="flex-c-m stext-101 cl2 size-101 bg0 bor13 hov-btn1 p-lr-15 trans-04 pointer m-tb-10" id="findPassword"> 
							비밀번호 찾기
						</span>
				
					</div>
				
				</form>
				
			</div>
		
		</div>
	
	</section>	
		
</article>
</body>

</html>