<!DOCTYPE html>
<html layout:decorate="~{layout/myPage_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	

	

<head>

    <script src = "//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
	<script src="https://kit.fontawesome.com/10b89606ac.js" crossorigin="anonymous"></script>
	
	<title>상세정보 </title>
	<style>
		.form-group {

			margin-top: 10px;

		}

		.div_css {
			margin: 0 0 1.5em 0;

		}

		form-horizontal {
			/*font-family: 'Nanum Gothic Coding', monospace;*/
		}

		#getUser,
		input,
		select,
		textarea {
			color: #585858;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
			font-size: 11pt;
			font-weight: 300;
			line-height: 1.75;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			border-color: #222;
  			background-color: #222;
  			color: #fff;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(0, 0, 0, 0.1);
		}


		@media screen and (max-width: 1680px) {

			body,
			input,
			select,
			textarea {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body,
			input,
			select,
			textarea {
				font-size: 12pt;
			}

		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		select,
		textarea {
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background-color: transparent;
			border: none;
			border-radius: 0;
			border-bottom: solid 1px #c9c9c9;
			color: inherit;
			display: block;
			outline: 0;
			padding: 0;
			text-decoration: none;
			width: 100%;
		}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
			border-bottom-color: black;
			box-shadow: inset 0 -1px 0 0 black;
		}

		.form-text {
			margin-top: 0.25rem;
			font-size: 0.875em;
			color: black;
			font-weight: bold;
		}

		.form-control {
			display: block;
			width: 100%;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 2.5;
			color: #212529;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0.25rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}


		.profile {
			width: 100%;
			height: 99%;
		}

		.cal-md-10 {

			padding-left: 0px;
		}
		
		span{
			font-size: 0.8em;
		}
		
		.btn{
			border: 1px solid black;
			background-color: white;
			color: black;
		}
		
		.btn:hover{
			background-color: black;
			color: white;
		}
		
		#area{
			max-width: 1000px;
		}
		
	</style>
	

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript>
		<link rel="stylesheet" th:href="@{/user/noscript.css}" />
	</noscript>
	
	<script type="text/javascript">


		function deleteUser() {
			var id = $("#id").val();

			popWin
				= window.open("/user/deleteUser?id=" + id,
					"popWin",
					"top=200,left=550,width=550,height=550,marginwidth=0,marginheight=0," +
					"scrollbars=no,scrolling=no,menubar=no,resizable=no");



		}

		function getPassword() {



			var id = $("#id").val();

			popWin
				= window.open("/user/updatePassword?id=" + id,
					"popWin",
					"top=200,left=200,width=780,height=650,marginwidth=0,marginheight=0," +
					"scrollbars=no,scrolling=no,menubar=no,resizable=no");






		}




		var total_check_phoneNumber = 1; // 휴대폰 번호 변경시 확인 값 
		var total_check_nickname = 1;

		//파일 보여주기
		function PreviewImage() {
			// 파일리더 생성 
			var preview = new FileReader();
			preview.onload = function (e) {
				// img id 값 
				document.getElementById("user_image").src = e.target.result;
			};
			// input id 값 
			preview.readAsDataURL(document.getElementById("LogoImage").files[0]);
		};

		//파일 보여주기



		function updateValidationCheck() {

			if (total_check_phoneNumber != 1) {
				alert("휴대폰 인증을 확인해 주세요 ")
				$("#phoneCheck").focus();
				return;
			}

			if (total_check_nickname != 1) {
				alert("닉네임을 확인해 주세요 ")
				$("input:text[name='nickname']").focus();
				return;
			}


		}

		// 휴대폰 중복 검사 	
		function phone_check(phone) {

			console.log("phone " + phone)
			$.ajax({
				url: "/user/phoneNumbereCheck?phoneNumber=" + phone,
				type: 'GET',

				success: function (cnt) { //컨트롤러에서 넘어온 cnt값을 받는다 
					if (cnt != 1) { //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 폰번호

						console.log("DB에 중복되는 폰 넘버 없음 ");
						return cnt;
					} else {
						alert("다른 휴대전화번호를 입력해주세요"); return cnt;
					}
				},
				error: function () {
					alert("에러입니다");
				}
			});
			return false;
		}

		// 문자 보내는 함수 
		function send_sms(phoneNumber) {

			$.ajax({
				type: "GET", url: "uphoneCheck?phone=" + phoneNumber,
				success: function (data) {
					if (phoneNumber == "error") {

						alert("휴대폰 번호가 올바르지 않습니다.")
						$(".successPhoneChk").text("유효한 번호를 입력해주세요.");

						$(".successPhoneChk").css("color", "red");

						$("#phone").attr("autofocus", true);



					} else {


						$("#phone2").attr("disabled", false);
						$("#phoneChk2").css("display", "inline-block");
						$(".successPhoneChk").text("인증번호를 입력한 뒤 본인인증을 눌러주십시오.");
						$(".successPhoneChk").css("color", "black");
						$("#phone").attr("readonly", true);
						console.log("이거뭐야 data " + data)
						code2 = data;
					}
				}
			});



		}

		//번호 검증 
		function check_sms() {

			var phone = $("#phoneNumber").val()
			var phone2 = $("#phoneCheck").val()
			console.log("phone :" + phone)
			console.log("phone2 :" + phone2)
			console.log("체크체크까ㅣㅈ 옴 ")
			//	alert("휴대폰 번호 검증")
			$.ajax({
				type: "GET",
				url: "/user/smsCertificationRequest?phone=" + phone + "&phone2=" + phone2,


				success: function (data) {
					if (data == "error") {
						alert("유효하지 않습니다. .")

					} else if (data == "F") {
						console.log("   data " + data)
						$(".successPhoneChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
						$(".successPhoneChk").css("color", "black");

						$("#phoneDoubleChk").val("false");
						$(this).attr("autofocus", true);




					} else if (data = "T") {
						console.log("   data " + data)
						$(".successPhoneChk").text("인증번호가 일치합니다.!!1");
						$(".successPhoneChk").css("color", "green");
						$("#phoneDoubleChk").val("true");
						$("#phone2").attr("disabled", true);
						$("#phoneCheck").attr("readonly", true);

						total_check_phoneNumber = 1;



					}


				}  // suceess 
			});



		}


		//번호 / 인증번호 보내기 클릭시 
		$(function () {

			//번호 변경 클릭시 , readonly 풀림
			$("#phoneChk").on("click", function () {

				if ($(this).html() == ' 번호 변경 ') {  //번호 변경 버튼 눌렸을때 
					$(this).html('인증번호 보내기')

					$("input[name='phoneNumber']").attr("readonly", false);

					// 인증번호 보내지고 인증번호 입력창 뜸 
				} else if ($(this).html() == '인증번호 보내기') {
					total_check_phoneNumber = 0; // 인증번호 검증 값 0


					var phoneNumber = $("#phoneNumber").val()
					$("input[name='phoneNumber']").attr("readonly", true);

					//	alert("인증번호 누르기 클릭 "+ phoneNumber)
					$("#phone_C").css("display", "inline-block"); // 휴대폰 인증 보이기
					$("#phoneCheck").css("display", "inline-block"); //
					$("#phoneCheck").attr("readonly", false);

					if (phone_check(phoneNumber) == 0) {
						send_sms(phoneNumber)
					}

				}


			});




			//업데이트 버튼 눌렸을때 , 정보 수정 일때는 , 정보 바꿀수 있게 변경 , 버튼  명 변경
			// 버튼명 정보 수정 완료시 입력된 정보들이 바뀝니다. 
			$("#updatebutton").on("click", function () {

				if ($(this).html() == '정보수정') {

					console.log("회원정보 수정 눌림 ")
					$(this).html('정보수정완료')

					$("input[name='nickname']").attr("readonly", false);    		//닉네임 칸 리드온니 풀림
					// 	$("input[name='phoneNumber']").attr("readonly",false);  곧쓸일이 있음 
					//$("input[name='postalCode']").attr("readonly",false); 
					$("#userAddress3").attr("readonly", false);  // 주소 추가 입력  리드온니 풀림 



					$("#LogoImage").attr("disabled", false); ///disabled /해제



					$("#button-newsletter").css("display", "inline-block"); // 주소 찾기 버튼 보이기
					$("#phoneChk").css("display", "inline-block"); 			//번호 변경 버튼 보이기 
				//	$("#button-newsletter").css("display", "inline-block"); // 주소 추가 버튼 
					$("#userAddress3").attr("readonly", false);
					$("#storeIntroduction").attr("readonly", false);


				} else {

					updateValidationCheck()

					console.log("정보수정 완료 클릭 ")
					$(this).html('정보수정')

					$("input[name='nickname']").attr("readonly", true);     // 닉네임 리드온니로
					$("input[name='phoneNumber']").attr("readonly", true); //폰넘버 리드 온니
					//	$("input[name='postalCode']").attr("readonly",true); 
					$("#userAddress3").attr("readonly", true);  // 주소 추가 입력  리드온니  

					$("#button-newsletter").css("display", "none"); // 주소 찾기 버튼 보이기 x
					$("#phoneChk").css("display", "none"); 			//번호 변경 버튼 보이기  x
				//	$("#button-newsletter").css("display", "none"); // 주소 추가 버튼  x


					$("#phone_C").css("display", "none"); // 휴대폰 인증 보이기
					$('#nickname_info').text(" ");
					$("#userAddress3").attr("readonly", true);

					$("#LogoImage").attr("disabled", true); ///disabled /해제






					var formdata = $("#form").serialize();
					formdata = decodeURIComponent(formdata);



					// 제이커ㅜ리의 serailaize 메소드가 form 태그 자동으로 읽어와서 quert String으로 형 변황 해줌 

					alert(formdata)

					/*					$.ajax({
											type: "POST",
											url: "/user/json/updateUser",
											data: formdata,
					
											success: function (data) {
												if (data != 1) {alert("수정XXx ")}
					
											},
											complete: function (data) {
					
												alert("수정완료 ")
					
											},
											error: function (request, status, error) {
												console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					
											}
					
					
					
					
										}); //ajax
					store_image
					*/
					console.log($("#LogoImage").val());

					alert("" + $("#user_image").val());
					$("#form").attr("method", "POST").attr("action", "/user/updateUser").submit();


				}



			});



		});

		/*
				$(function(){
					$("#userImgFile").on("change", function(){
							preView(this);
							console.log($("#userImgFile").val());
							$("#userImgName").val($("#userImgFile").val());
				});
					
				});
		*/
		// 주소 			
		function findAddr() {
			new daum.Postcode({
				oncomplete: function (data) {

					console.log(data);

					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var jibunAddr = data.jibunAddress; // 지번 주소 변수
					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					$("#userAddress1").val(data.zonecode);

					//			            document.getElementById('member_post').value = data.zonecode;
					if (roadAddr !== '') {
						$("#userAddress2").val(roadAddr);

						//  document.getElementById("member_addr").value = roadAddr;
					} else if (jibunAddr !== '') {
						$("#userAddress2").val(jibunAddr);

						// document.getElementById("member_addr").value = jibunAddr;
					}

					$("#userAddress3").val(" ");
					$("#userAddress3").focus();

				}
			}).open();


		}


		// 닉네임 검사

		$(function () {


			$("#nickname").on("keyup", function () {
				total_check_nickname = 0;
				var nickname = $('#nickname').val(); //id값이 "id"인 입력란의 값을 저장
				console.log("nickname :: " + nickname);
				if (nickname == null || nickname.length < 2) {
					$('#nickname_info').text("닉네임을 입력해주세요.");
					$('#nickname_info').css("color", "black");

				}

				if (nickname != null && nickname.length > 1) {
					console.log("닉네임검사하러감  ")
					$.ajax({
						url: "/user/nicknameCheck?nickname=" + nickname,
						type: 'GET',

						success: function (cnt) { //컨트롤러에서 넘어온 cnt값을 받는다 
							if (cnt != 1) { //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디 

								$('#nickname_info').text("사용가능한 닉네임입니다.");
								$('#nickname_info').css("color", "green");

								total_check_nickname = 1;

							} else {
								$('#nickname_info').text("사용이 불가한 닉네임입니다. ");
								$('#nickname_info').css("color", "red");

								total_check_nickname = 0;
							}
						},
						error: function () {
							alert("에러입니다");
						}
					});	//ajax	
				}
			})
		});


	</script>




</head>

<body>

	<article id="getUser" layout:fragment="content">


		<div class="container col-lg-3" >
		</div>

		<div class="container col-lg-6 " id="area">
		
			<div class="text-center">
				<br>
				<h4 class="mtext-112 cl2 p-b-33">
					상세 정보
				</h4>


			</div>

			<div class="container col-md-9">

				<form class="form-horizontal" method="post" name="form" id="form" enctype="multipart/form-data">

					<div class="form-group">
						<div class="div_css">
							<h5 class="stext-114 cl3"> 아이디</h5>

							<input type="text" class="form-control" th:id="id" th:name="id" th:value="${getuser.id}"
								readonly>
							<!--	 [[${getuser.id}]] -->
						</div>

						<div class="div_css">
							<h5 class="stext-114 cl3"> 이름 </h5>

							<input type="text" class="form-control" th:id="name" th:name="name"
								th:value="${getuser.name}" readonly>

						</div>
						<!--여기에 스토어 유저 가르는 if 쓰기  -->



						<div class="div_css" th:if="${getuser.role == 'user'}">
							<h5 class="stext-114 cl3"> 닉네임 </h5>

							<input type="text" class="form-control" th:id="nickname" th:name="nickname" maxlength='10'
								th:value="${getuser.nickname}" readonly>
							<span id="nickname_info"> &nbsp; </span>

						</div>

						<div th:if="${getuser.role == 'store' || getuser.role =='storeX'}">
							<div class="div_css">
								<h5 class="stext-114 cl3"> 스토어 이름 </h5>

								<input type="text" class="form-control" th:id="storeName" th:name="storeName"
									maxlength='10' th:value="${getuser.storeName}" readonly>


								<span id="storeName_info"> &nbsp; </span>
							</div>
							<div class="div_css">
								<h5 class="stext-114 cl3"> 스토어 소개 </h5>

								<input type="text" class="form-control" th:id="storeIntroduction"
									th:name="storeIntroduction" th:value="${getuser.storeIntroduction}" readonly>

							</div>



							<div class="div_css">
								<h5 class="stext-114 cl3"> 스토어 로고 </h5>


								<div>
									<!--  사진 바꾸기 실패 함 <input class="form-control" id="LogoImage" name="LogoImage" type="file" onchange="PreviewImage();">-->
									<input class="form-control" id="LogoImage" name="LogoImage" type="hidden"
										onchange="PreviewImage();">
								</div>

								<div id="image_container">
									<img id="store_image" src="#" alt="">

									<img class="img-thumbnail" id="user_image" name="user_image"
										th:value="${getuser.storeLogoImage}"
										th:src="@{../img/upload/} +${getuser.storeLogoImage}" />



								</div>




							</div>
						</div> <!-- 스토어 if  -->


						<div class="div_css">
							<h5 class="stext-114 cl3"> 휴대폰번호 </h5>
							<div class="input-group">

								<input type="text" class="form-control" id="phoneNumber" th:name="phoneNumber"
									th:value="${getuser.phoneNumber}" readonly>
								<span class="btn" id="phoneChk" style="display:none" ;> 번호 변경 </span>


							</div>




							<div>

								<div id="phone_C" style="display:none" ;>
									<!-- 인증번호 -->
									<div class="input-group">
										<input type="text" id="phoneCheck" class="form-control"
											name="CertificationNumber" placeholder="인증번호입력" />
										<span class="btn" id="phoneChk2" name="CertificationNumber"
											placeholder="인증번호 입력" required onclick="check_sms()"> 본인인증</span>

									</div>
									<span class="point successPhoneChk">휴대폰 번호 입력후 인증번호 보내기를 해주십시오.</span>

								</div>


							</div>
						</div>

						<div>
							<h5 class="stext-114 cl3"> 성별 </h5>

							<span class="mtext-102" th:text="${getuser.gender == 'W' ? '여성' :'남성'}">


						</div>
						
						<br/>
						
						<div class="div_css">

							<h5 class="stext-114 cl3"> 가입일자 </h5>
							<span class="mtext-102" th:text="${getuser.regDate}">

						</div>



						<div class="div_css">
							<h5 class="stext-114 cl3"> 주소 </h5>
							<div>
								<div class="input-group mb-2">

									<input class="form-control" id="userAddress1" name="userAddress1"
										placeholder="우편주소." th:value="${getuser.userAddress1}" readonly type="text" />
									<button class="btn" id="button-newsletter" onclick="findAddr()"
										type="button" style="display:none">주소찾기</button>
								</div>

								<input class="form-control" id="userAddress2" name="userAddress2" placeholder="주소"
									th:value="${getuser.userAddress2}" readonly type="text">
								<input class="form-control" id="userAddress3" name="userAddress3" placeholder="추가입력"
									th:value="${getuser.userAddress3}" readonly type="text">

							</div>
						</div>
				</form>

			</div><!-- from 관련 div -->



			<br />
			
			<div style="width: 500px; margin: 0 auto;">
				<a href="javascript:history.back()" class="btn" role="button">확인</a>
				
				
				<th:block sec:authorize="hasAnyRole('ROLE_user','ROLE_store','ROLE_storeX')">
				
					<button type="button" id="updatebutton" class="btn">정보수정</button>
				
					<!-- 가입 경로가 자사 회원이 유저들만 이용 가능-->
					<span th:if="${getuser.joinPath == 'HOME'}">
				
						<a href="#" onclick="getPassword()" class="btn" role="button">비밀번호 재설정</a>
						<span>
				
							<span th:if="${getuser.role == 'store' || getuser.role =='storeX'}">
								<a href="#" class="btn btn-secondary btn-xs"
									th:href="@{/user/getStoreApplicationDocument(storeApplicationDocumentNumber =${getuser.storeApplicationDocumentNumber})}"
									value="${getuser.storeApplicationDocumentNumber}" role="button">스토어 신청서 상세보기 </a>
				
							</span>
						</span>
			</div>
			

				</th:block>


					<br /><br />
					<hr />
					
			<th:block sec:authorize="hasAnyRole('ROLE_user','ROLE_store','ROLE_storeX')">
					회원탈퇴를 원하시면 눌러주세요 <a onclick="deleteUser()" class="btn" role="button">회원 탈퇴</a>
			</th:block>



 


		
			<br>

		</div>
		<div class="container col-lg-3">
		</div>
	</article>




</body>


</html>