<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				layout:decorate = "~{layout/default_layout}"
      			xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">

<head>


	<meta charset="UTF-8">
	<title>faitmain login</title>

	<!-- 카카오  API -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet" />

	<link href="/css/login.css" rel="stylesheet" />
	<!-- jQuery -->
	<script crossorigin="anonymous" src="https://kit.fontawesome.com/10b89606ac.js"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	
	<!--sweetalert  -->

	<script type="text/javascript">

		$(function () {


			$("#loginButton").on("click", function () {
				var id = $("#id").val();
				var pw = $("#password").val();

				if (id == null || id.length < 1) {
					alert('ID 를 입력하지 않으셨습니다.');
					$("#userId").focus();
					return;
				}

				if (pw == null || pw.length < 1) {
					alert('패스워드를 입력하지 않으셨습니다.');
					$("#password").focus();
					return;
				}

		 
				$("form").attr("method", "POST").attr("action", "/user/login").submit();


			});


		});

		function addUser() {
			self.location = "/user/addUser";

		}

		function findId() {

			popWin
				= window.open("/user/findId",
					"popWin",
					"top=200,left=500,width=600,height=550,marginwidth=0,marginheight=0," +
					"scrollbars=no,scrolling=no,menubar=no,resizable=no");



		}

		function findPassword() {
			//	self.location="/user/findPassword";
			popWin
				= window.open("/user/findPassword",
					"popWin",
					"top=200,left=500,width=800,height=550,marginwidth=0,marginheight=0," +
					"scrollbars=no,scrolling=no,menubar=no,resizable=no");
		}

		function addStore() {
			self.location = "/user/addStore";

		}
	
	// 로그인 실패시 alert창 
			$(function () {


				var url = window.location.href; // 전체 Url을 가져온다.
				search = location.search	 // 쿼리 트링
				console.log(search)


				let params = new URLSearchParams(search);
				let errorMessage = params.get('errorMessage');	 //params 에서 errorMessage 뽑기

				console.log(errorMessage)
  

				if(errorMessage == 1){
					Swal.fire({
						title: '아이디,비밀번호가 맞지 않습니다.',
						text: '아이디와 비밀번호 확인 후 입력 부탁드립니다.',
						icon: 'warning',

					});



				}
				else if (errorMessage == 2) {
					
					Swal.fire({
						title: '존재 하지 않는 회원입니다.',
						text: '회원가입 후 로그인 부탁드립니다. ',
						icon: 'info',
					});

				} else if (errorMessage == 3) {

					Swal.fire({
						title: '아이디,비밀번호가 맞지 않습니다.',
						text: '아이디와 비밀번호 확인 후 입력 부탁드립니다.',
						icon: 'warning',

					});

				} else if (errorMessage == 4){
					
				}

 	});
		
		
		
		
	 
		
	</script>
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<style>
		.wrapper {
			
			place-items: center;
		}


		/* BASIC */
		
       body, html {
        	height: 100%;
       }
              
        
	</style>
	<!-- 길이는 스타일 건들이 -->
</head>

<body>
	<article layout:fragment="content">
		<div class="wrapper">

			<section class="py-5" id="features">


				<div class="wrapper fadeInDown">
					<div id="formContent">
						<!-- Tabs Titles -->
						<h2 class="active"> Sign In </h2>
						<!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

						<!-- Icon -->
						<div class="fadeIn first">
						</div>

						<!-- Login Form -->
						<!--   <form id = "form" onsubmit = "return false"> -->
						<form id="form">
							<div>


								<input class="fadeIn second" id="id" name="id" placeholder="login" type="text">
								<input class="fadeIn third" id="password" name="password" placeholder="password"
									type="password">
								<input class="fadeIn fourth " id="loginButton"
									style="margin-bottom: 5px; padding:15px 94px;" type="submit" value="Log in" />
								<!--  라이브 오빠들 카카오 로그인 할때는 밑에서 다른 사람은 밑에 꺼 -->
								<!--      <a class="p-2" th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=f0b36852932e865ae00c9ff2fcd19874&redirect_uri=https://fait-main.kro.kr:8080/user/kakaoLogin&response_type=code}"> -->

								<!--  	 <img src="/img/kakao_login_medium_narrow.png" style="height:60px"> -->
								<!--   </a>
                              <a class = "p-2"  th:href = "@{/oauth2/authorization/naver}">네이버 로그인 </a>  -->
								<a class="p-2" href="/oauth2/authorization/naver"> <img src="/img/btnG_official.png"
										style="height:50px;"> </a>
								<!--	<a class="p-2" href="/oauth2/authorization/kakao"> <img src="/img/btnG_official.png"
										style="height:50px;"> </a>-->

						</form>



						<!-- Remind Passowrd -->
						<div id="formFooter">
							<a class="underlineHover bi-check" onclick="addUser()">User sign up</a> &nbsp;
							<a class="underlineHover bi-check" onclick="addStore()">Store sign up</a> &nbsp;

							<br>
							<a class="underlineHover bi-check" onclick="findPassword()">Forgot Password?</a> &nbsp;
							<a class="underlineHover bi-check" onclick="findId()">Forgot id?</a>



						</div>

					</div>
				</div>


			</section>
		</div>


	</article>

	</body>

</html>