<!DOCTYPE html>
<html 
        layout:decorate = "~{/layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" >
 

<head>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/user/form.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <meta charset = "UTF-8">
    <title> 비밀번호 재설정  </title>
    <style>
	  .form-group{
 
		margin-top:10px ;
 	 
		}
		
		 
    </style>


	<script type="text/javascript">
	
	
		/*<![CDATA[*/
		  let  authentication =    	 "[[${#authentication.principal}]]" ;
		  console.log (" authentication:: "+ authentication); 
 	
	/*]]*/
 	
	
	
	let checkPassword = 0 ;
	
	//패스워드  검증 
			 $(function() {	
				$("#password2").on("keyup",function (){
					console.log($("input[name='password']"))
					
							let pw=$("input[name='password']").val();
							let pw_confirm=$("input[name='password2']").val();
						console.log(pw);
						console.log(pw_confirm);
						
							
							if( pw != pw_confirm ) {				
 								$("input:text[name='password2']").focus();
							 $('#text-info').text("일치하는 패스워드를 입력해주세요");
 							 $('#text-info').css("color","black");

							total_check_password =0 ;
				
								return;
							}
							
							
							 $('#text-info').text("패스워드가 일치 합니다. ");
							  $('#text-info').css("color","green");

 							 total_check_password =1 ;
							 
				
					})		
						
			});

	//비밀번호 형식 체크 정규식 			
	function isPassword(asValue) {
		let regExp = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,16}$/;
	 
		return regExp.test(asValue); // 형식에 맞는 경우 true 리턴
	}	
	
	//비밀번호 재설정 버튼 클릭시 
	function updatePassword (){
		
		let password = $("#password").val() ;
	//	alert("출력하라 "+password) ;
		
		if(isPassword(password) != true ){
			$("input:password[name='password']").focus();	
				
		
							
						Swal.fire({
								title: '',
								text: '최소 8자리 이상 , 영문, 숫자, 특수문자를 최소 한가지 입력하세요',
								icon: 'info',
							});


					return;
			
			return ;
		}
		
		
		
		if( $("#text-info").text()  !="패스워드가 일치 합니다. " ){
			return ;
		}
		
		
		//alert("ajax로 갑니다. ")
			$.ajax({
						url: "/user/updatePassword", // 주소
						//data: JSON.stringify(jsonData), // 전송 데이터
						data: $("#form").serialize(),
						type: "POST", // 전송 타입
						dataType: "JSON", // 응답 받을 데이터 타입
						//contentType: "application/json; charset=utf-8",
						success : function (data){
						//	console.log("result : " + data);
							//alert(data) ;
							console.log("dd") ;
							
							if (data == 1) {

 								// 비밀번호 변경후 alert창 띄우기

 

								swal("", "비밀번호가 변경 되었습니다.   ",
									"info").then(function () {
										window.close()

									});






							} else {
									
						Swal.fire({
								title: '',
								text: '비밀번호를 다시 입력해주세요',
								icon: 'info',
							});

 								}
							 
	                    },                    
	                    //요청 실패 시 이벤트
	                    //응답 status code가 2xx가 아닌 경우 
	                    error : function (jqXHR, textStatus, errorThrown){
	                    	console.log(jqXHR);  //응답 메시지
	                    	console.log(textStatus); //"error"로 고정인듯함
	                    	console.log(errorThrown);
	                    }
						
					});//ajax 끝
		
		
	}

	
	</script>
	
	</head>


	<body>
	
	<article  class="py-5" layout:fragment="content"  >
	
	
<div  class="container ">
	<div   class="container col-md-9">
	
	<h2 class="fw-bolder"> 비밀번호 재설정 </h2>
	<hr>
	<br>
	 	<form id="form" >
		 	<div class="form-group">
					<h5 class="fw-bolder">아이디 </h5> 
					[[${id}]] 
		 			
		 			<input type="hidden" id="id" name="id" th:value="${id}"   >
		 	</div>	
		 	
	 		<div class="form-group">
		     <h5 class="fw-bolder"> 비밀번호</h5>
		    <div >
		      <input type="password" class="form-control" id="password" name="password" maxlength='12' placeholder="최소 8자리 이상 , 영문, 숫자, 특수문자를 최소 한가지 입력하세요">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <!--<label for="password2" class="col-md-8 control-label">비밀번호 확인</label> -->
		    <h5 class="fw-bolder" > 비밀번호 확인</h5>
		    <div  >
		      <input type="password" class="form-control" id="password2" name="password2" maxlength='12' placeholder="비밀번호 확인" >
		    </div>
		    <span id="helpBlock" class="help-block">
  				 <span  id="text-info"  >일치하는 패스워드를 입력해주세요</span>
		      </span>
		  </div>
		  
	 				  
		  		 <div class="form-group">
		   		    <div >
		                   <span class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" id="updateButton" onclick ="updatePassword()" > 비밀번호 재설정</span></div>
		  
		  		  </div>   
		 	</div>
			  
			  
	 	
	 	</form>
	 	
	</div>
	</div>
	
	
	
	</article>
	
	
	
	</body>


</html>


