<!DOCTYPE html>
<html layout:decorate = "~{layout/myPage_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="EUC-KR">
<title>My Page</title>
</head>
<body>

	<!-- Page Content -->
	<article layout:fragment="content">
		
		<section class="bg0 p-t-52 p-b-20">
			<div class="container">
				<div class="row">
					
					<div class="col-md-8 col-lg-9 p-b-80">
					
						
						
					</div>
					
				</div>
			</div>
		</section>			
		
	</article>
	
</body>
</html>