<!DOCTYPE html>
<html lang = "ko" layout:decorate = "~{/layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	 <meta charset = "UTF-8">
	<!--<link rel="stylesheet" type="text/css" href="/customerDesign/index/css/style.css">-->
	 
	 <!-- Channel Plugin Scripts -->
<script>
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
  ChannelIO('boot', {
    "pluginKey": "d7f92812-9849-482b-84c6-731d4076b5df"
  });
</script>
<!-- End Channel Plugin -->	
    <title>faitmain</title>
 <!--   <style>
   	body{
   		background-image:url(/img/customer/support2.jpg);
   		background-repeat: no-repeat;
   		background-size: cover;
   		height: 100vh;
   	}
   </style> -->
</head> 
     
<body id="page-top">
<article  layout:fragment="content">
<div id = 'wrapper' class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
			
			    <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
			    			    
			        <div class="block1 wrap-pic-w">
			        	
			        	<img src=""
			        	
			        	
			            <div class="activity-icon">
			            
			             <a class="link_service" th:href="@{/customer/listBoard?boardType=N}">
			               <!--  <img alt="An image" src="https://i.ibb.co/ZWp3Yts/ad-operations-process-strategy.png"> -->
			                <img id = "An image" th:src="@{https://i.ibb.co/ZWp3Yts/}+@{/img/customer/ad-operations-process-strategy.png}" />
			            </div>
			            <div class="inactive">
			                <div class="title"> </div>
			            </div>
			            <div class="active">
			                <div class="title_1">공지사항</div>
			                <div class="sub-title"></div>
			            </div>
			            </a>
			        </div>
			    </div>
			    
			    <div class="activity animate-from-bottom__1">
			        <div class="relative-block">
			            <div class="activity-icon">
			               <!--  <img alt="An image" src="https://i.ibb.co/s2nghrT/ad-operations-process-strategy-activation.png" alt="ad-operations-process-strategy-activation"> -->
			                <a class="link_service" th:href="@{/customer/listBoard?boardType=F&FAQCategoryCode=00}">
			                <img id = "An image" th:src="@{https://i.ibb.co/s2nghrT/}+@{/img/customer/ad-operations-process-strategy-activation.png}"  alt="ad-operations-process-strategy-activation"/>
			            </div>
			            <div class="inactive">
			                <div class="title"></div>
			            </div>
			            <div class="active">
			                <div class="title_1">자주묻는질문</div>
			                <div class="sub-title"></div>
			                
			            </div>
			            </a>
			        </div>
			    </div>
			    
			    <div class="activity animate-from-bottom__2">
			        <div class="relative-block">
			            <div class="activity-icon">
			           <!-- <img alt="An image" src="https://i.ibb.co/ZWp3Yts/ad-operations-process-strategy.png"> -->
			                <a class="link_service" th:href="@{/customer/detailGuide?boardType=L}">
			                <img id = "An image" th:src="@{https://i.ibb.co/ZWp3Yts/}+@{/img/customer/ad-operations-process-strategy.png}" />
			            </div>
			            <div class="inactive">
			                <div class="title"></div>
			            </div>
			            <div class="active">
			                <div class="title_1">라이브가이드</div>
			                <div class="sub-title"></div>
			            </div>
			            </a>
			        </div>
			    </div>
			   
			</div>
		</div>


</div>
</article>
</body>


</html>