

<!DOCTYPE html>
<html lang = "ko" layout:decorate = "~{/layout/default_layout}"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	 <meta charset = "UTF-8">
	 <link th:href="@{/css/customer.css}" rel="stylesheet" />
	 
	 <!-- Channel Plugin Scripts -->
<script>
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
  ChannelIO('boot', {
    "pluginKey": "d7f92812-9849-482b-84c6-731d4076b5df"
  });
</script>
<!-- End Channel Plugin -->	
    <title>faitmain</title>
   
</head> 
     
<body id="page-top">


<main id="faitmainContent">
<div id='wrap'>
	<div class="full_container">
		<div class="inner_container">
	        

      		<div>
                <article layout:fragment="content"  id="mArticle">
                	<hr/>
                    <h2 class="screen_out" id="customerCtn">고 객 센 터</h2>
                 	<hr/>
                    <div class="wrap_service">
                        <h3 class="tit_main">고객센터를 통해 궁금증을 해결하세요</h3>
                        <hr/>
                        <div class="customer_main">
                            <strong class="screen_out">주요서비스 고객센터 보기</strong>
                            <ul class="grid-image">
                                <li class="fst">           
                                    <a class="link_service" th:href="@{/customer/listBoard?boardType=N}">
                                        <img alt="공지사항" class="thumb_img"   src="/img/notification.png">
                                        <span class="txt_service" >공지사항</span>
                                    </a>
                                </li>
                                <li class="fst">                                
                                    <a class="link_service" th:href="@{/customer/listBoard?boardType=F}">
                                        <img alt="자주묻는질문" class="thumb_img"  src="/img/FAQ.png">
                                        <span class="txt_service">자주묻는질문</span>
                                    </a>
                                </li>
                                <li class="fst">                               
                                    <a class="link_service" th:href="@{/customer/detailGuide?boardType=L}">
                                        <img alt="라이브가이드" class="thumb_img"  src="/img/liveGuide.png">
                                        <span class="txt_service">라이브 가이드</span>
                                    </a>
                                </li>
                                <li class="fst">                             
                                    <a class="link_service" th:href="@{/customer/addReport}">
                                        <img alt="신고" class="thumb_img"  src="/img/siren.png">
                                        <span class="txt_service">신 고</span>
                                    </a>
                                </li>
                             </ul>
                           </div>
                       </div>
                   </article>
               </div>
         
        


        	</div>
      </div>
   </div>  
   
</main>


	

</body>



</html>