<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				layout:decorate = "~{layout/default_layout}"
      			xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="EUC-KR">
<title>addLiveReservationView</title>
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	
	<!-- Bootstrap -->
		<!-- CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		
		<!-- JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

	<!-- 추가 JS -->
	<script src="/js/updateliveReservationView.js"></script>
	
</head>
<body>
	<article layout:fragment="content">
		<div class="container">
		
			<h5>프리미엄 라이브 예약 수정</h5>
			
			<hr/>
			
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="reservationDate">년월일</label>
						<input type="date" class="form-control" id="reservationDate" name="reservationDate" th:value="${liveReservation.reservationDate}"/>
					</div>
					<div id="timeDiv" class="form-group col-md-6">
						<label for="reservationTime">시작 시간</label>
						<select id="reservationTime" class="form-control" name="reservationTime">
							<option id="timeOption"/>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="reservationTitle">방송 제목</label>
					<input type="text" class="form-control" id="reservationTitle" name="reservationTitle" placeholder="50자 이내">
				</div>
				
				<h6 style="display: inline; margin-right: 6px;">등록 상품 선택</h6><small id="checkboxProductHelp" class="text-muted" style="display: inline">5개 이내</small>
				
				<div class="form-check" th:each="product : ${list}">
					<input class="form-check-input" type="checkbox" th:value="${product.productNumber}" id="liveProductNum" name="liveProductNum">
					<label class="form-check-label" for="liveProduct" th:text="${product.productName}">productName</label>
				</div>
				
				<button type="button" class="btn btn-success">수정하기</button>
				<button type="button" class="btn"> 취 소 </button>
			
			<input type="hidden" id="liveReservationNumber" name="liveReservationNumber" th:value="${liveReservation.liveReservationNumber}">	
			</form>
			<input type="hidden" id="hiddenTime" th:value="${liveReservation.reservationTime}">
			
		</div>
	</article>
</body>
</html>